<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
<div class="todo-list">
    <ul id="todoList"></ul>
</div>
<a href="/add-todo">Add new Todo</a>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/v1/todos",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: (todos) => {
                for (let el of todos) {
                    $('#todoList').append("<li>" + el.title + "</br>" + el.text +"<a href>" +"</li>");
                }
            }
        });
    });
</script>
<div class="btn-group">
        <button id="delete_all">Delete all todos</button>
    </div>
<script>
$(document).on("click", '#delete_all', function() {
  $('#todoList').each(function () {
    $("li").remove();
      });
      $.ajax({
          url: '/api/v1/todos',
          type: 'DELETE',
          dataType: 'json',
          success: function(response){}
  })
});
</script>
</body>
</html>